/* Navigation */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 15px;
    padding: 0 7px;
    padding-bottom:8px ;
}


/* Home Section  */
#home{
    height: 322px;
    padding: 3px 68px;
    
}
#home::before{
    height: 400px;
    
}
#home p{
    font-size: 13px;
}


/* Services section  */
#services{
    flex-direction: column;
    

}
#services .box img{
    width: 115px;
    height: auto;
    box-sizing: border-box;
    margin: 25px 33px;
}

/* client section  */
#clt{
    flex-wrap: wrap;
}
#clt img{
    width: 66px;
    padding: 2px 4px;
    height: auto;
    

}

/* Contact us section  */

#contact-form form{
    width: 80%;
}

/* footer  */


/* Utility classes */
.h-primary{
    font-size: 26px;

}

.h-secondary{
    font-size: 26px;

}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}